<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Title</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <img th:src="@{/picture}" alt="Picture of the day" width="400" height="400"/>
        <form th:action="@{/add_todo}" method="post">
            <input type="text" name="content" maxlength="140" />
            <input type="submit" value="Create TODO" />
        </form>
        <ul th:each="todo : ${todos}">
            <li th:text="${todo.content}" />
        </ul>
    </body>
</html>
